@import "variables";

@mixin title-default() {
  color: $accent-color;
  font-weight: bold;
}

@mixin title-secondary() {
  color: #7d7d7d;
  font-size: 30px;
  font-weight: bold;
}

@mixin straight-line() {
  height: 2px;
  background: #d4a564;
}

@mixin image-default-size() {
  height: 381px;
  width: 572px;
}

@mixin button-default() {
  transition: 1s;
  box-shadow: $button-shadow;
  background: $secondary-color;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  border: 0;
  height: 54px;
  width: 259px;
  &:hover{
    background: orange;
    transform: translateY(3px);
  }
}