.preview {
  background: url("../resources/mainview/Villa1-7.jpg") no-repeat;
  background-size: 100%;
  height: 710px;
  display: flex;
  justify-content: center;
  &__title {
    font-family: "Better Together", serif;
    color: #fff;

    &__sv, &__villas {
      position: absolute;
    }
    &__sv {
      margin-top: 110px;
      font-size: 53.51px;
    }
    &__villas {
      margin-top: 120px;
      margin-left: 160px;
      font-size: 107.02px;
    }
    &__harmony {
      margin-top: 191px;
      font-size: 118.91px;
    }

  }
}
