@import "mixins";
@import "variables";

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 38px;

  &__title {
    @include title-default;
    font-size: 30px;
  }

  &__line {
    @include straight-line;
    margin-top: 23px;
    width: 245px;
  }

  &__outdoor {
    margin-top: 38px;
    display: flex;

    &__img {
      background: url("../resources/mainview/Outdoor-35.jpg");
      width: 295px;
      height: 197px;
      flex-grow: 0;
      flex-shrink: 0;

    }

    & span {
      margin: 7px 0 0 20px;
      line-height: $block-interline;
    }
  }

  &__info__field {
    align-self: flex-end;

    &__img {
      margin: 41px 0 0 0;
      background: url("../resources/mainview/Outdoor-10.jpg") no-repeat;
      width: 898px;
      height: 478px;
    }

    &__label {
      background: $secondary-color;
      box-shadow: $default-shadow;
      margin: 66px 0 0 -224px;
      color: #fff;
      position: absolute;
      line-height: 1.278;
      width: 499px;
      height: 344px;

      & p {
        margin-top: 2em;
        padding: 0 44px 0  37px;
      }
    }


  }

  &__build__info {
    display: flex;
    margin-top: 27px;
    align-self: flex-start;
    align-items: flex-end;
    justify-content: flex-end;
    &__img {
      background: url("../resources/mainview/Outdoor-9.jpg") no-repeat;
      height: 551px;
      width: 824px;
    }
    &__label {
      background: $accent-color;
      box-shadow: $default-shadow;
      margin-right: -319px + 38px;
      margin-bottom: 32px;
      position: absolute;
      padding: 30px;
      color: #fff;
      height: 319px;
      width: 392px;
      & ul {
        list-style-type: circle;
      }
    }
  }
}

.booking {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 37px;
  background: url("../resources/mainview/bookingBack.jpg") no-repeat;
  background-size: 100%;
  height: 632px;

  &__title {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 24px;
    height: 233px;
    width: 554px;
    flex-direction: column;
    color: #fff;
    &__button {
      @include button-default
    }
  }

}

